<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>PAYMENT SUCCESSFUL!</h1>
            <div><p>
                Thanks for your payment!  You’re now a pioneer of the rental revolution.
                 Looking for proof? Check your inbox for your order conﬁrmation.
         </p></div>
         <h2>A message from RfR Co-Founders Lisa and Kristy</h2>
         <div><p>
            We are so thrilled that you are part of our highly anticipated launch! You get ﬁrst access to this unbelievably exciting and stylish
             way to get dressed as well as access to thousands of items from coveted brands such as Vince, 
            Parker and Diane Von Furstenberg. We also can’t wait to introduce you to talented emerging brands like Kaela Kay. 
         </p></div>.
         <div class="promise"><P>
            We promise it will be life changing and worth the wait.
            Welcome to the future of fashion! 
         </P></div>
         <h3>Lisa and Kristy</h3>
         <hr class="hr">
         <p class="hash">#LessStuffMoreLife</p>
         <p class="hash"> #rememberwhenweusedtobuyclothes?</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
