.logo{
    height:56px;
     width:51px;
    
     margin-top: 1px;
     margin-left: 40px;
     
}
.faqbutton {
    margin-top: 10px;
    float: right;
    background-color: white;
    border-color: black;
    height: 29px;
    width: 55px;
    margin-right: 42px;
    margin-left: auto;
    border-width: 1px;
    font-family: Inconsolata;
    font-size: 18px;
    cursor: pointer;
}
@media only screen and (min-width: 320px){
.faqbutton{
    margin-right: 22px;
}
}