<p class="subs_plan">STYLE PROFILE SUMMARY</p>

 <div class="container-fluid" [hidden]="myvar">
   <div class="col-md-12 stylesize">
     <div class="row "> 
       <div class="col-md-4">
         <div>
            <p><img class="icon_img" src="../../assets/img/your fit.jpg"> <strong>Your Details</strong></p>
         </div>
         <div>
           <p id="icon1"><img class="icon_img_small" src="../../assets/img/height.jpg" align="center"><sub>  Height </sub> <sub id="icon_space">                     {{user.height}}</sub> </p>
         </div>
         <div>
            <p id="icon1"><img  class="icon_img_small"src="../../assets/img/dress size.jpg" align="center"><sub>  Dress Size  </sub> <sub id="icon_space">        {{user.dressSize}}</sub> </p>
         </div>
         <div>
           <p id="icon1"><img class="icon_img_small" src="../../assets/img/top size.jpg" align="center"><sub>  Top Size   </sub> <sub id="icon_space">   {{user.topSize}}</sub> </p>
         </div>
         <div>
          <p id="icon1"><img class="icon_img_small" src="../../assets/img/pantsize.jpg" align="center"><sub>  Pant Size   </sub> <sub id="icon_space">         {{user.pantSize}}</sub> </p>
         </div>

       </div>
       <div class="col-md-4">
         <div>
         <div>
            <p><img class="icon_img" src="../../assets/img/your fit.jpg" align="center"> <strong>Your Fit</strong></p>
         </div>
         <div> 
            <p id="icon1"><img class="icon_img_small" src="../../assets/img/TOP HALF.jpg" align="center"><sub>  Top Half </sub> <sub id="icon_space2">             {{user.topHalf}}</sub> </p>
         </div>
         <div>
          <p id="icon1"><img class="icon_img_small" src="../../assets/img/BOTTOM HALF.jpg" align="center"><sub>  Bottom Half  </sub> <sub id="icon_space2">   {{user.bottomHalf}}</sub> </p>
         </div>
         <div>
            <p id="icon1"><img class="icon_img_small" src="../../assets/img/flaunt.jpg" align="center"><sub>  Flaunt</sub> <sub id="icon_space2">{{user.Flaunt}}</sub> </p>
         </div>
         <div>
         <p id="icon1"><img class="icon_img_small" src="../../assets/img/downplay.jpg" align="center"><sub>  Downplay</sub> <sub id="icon_space2">{{user.downPlay}}</sub> </p>
         </div>
       </div> 
      </div>
       <div class="col-md-4">
        <div>
          <div>
              <p><img class="icon_img" src="../../assets/img/your style needs.jpg" align="center"> <strong>Your Style Needs
                </strong></p>
          </div>
         
            <div style="display: flex">
             <p id="icon1"><img class="icon_img_small" src="../../assets/img/focus.jpg" align="center"><sub>  Focus </sub> </p>
            
             
            <span id="icon_space3">{{user.focus}}</span>
          </div>
          
          <div> 
             <p id="icon1"><img class="icon_img_small" src="../../assets/img/incorporate.jpg" align="center"><sub> Incorporate</sub> <sub id="icon_space4">           {{user.incorporate}}</sub> </p>
          </div>
          <div>
              <p id="icon1"><img class="icon_img_small" src="../../assets/img/avoid.jpg" align="center"><sub>  Avoid  </sub> <sub id="icon_space4">    {{user.avoid}}  </sub> </p>
          </div>
        </div>

       </div>
     </div>
   </div>
 </div>
