
<div class="container-fluid">
    <div class="row">
            <div class="col-md-4" [hidden]=myvar>
                    <p class="welcome">
                            Hello {{user.name}}!
                            <br><a class="welcome_gray">We are so excited to go shopping for you and curate your rotating
                             closet. Here’s a snapshot of what you told us.</a>
                            </p>
            </div>
            <div class="col-md-2">
            
                </div>
        
        <div class="col-md-6">

        </div>
        
    </div>
</div>