<div class="container-fluid footer_color">
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 footer_text"><p>Have Questions? We have the answers.</p></div>
        <div class="col-md-4"></div>
    </div>
    </div>
    <div class="col-md-12 space">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 footer_link"><a    href="#contact">Contact Us  </a> 
                    <a   routerLink="faq">FAQs</a></div>
                <div class="col-md-4"></div>
            </div>
            </div>
</div>

